<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicinas da Floresta</title>
    <link rel="stylesheet" href="/7_atividade_Express/public/css/style.css">
</head>
<body>
    <header class="header">
        <img src="/7_atividade_Express/public/images/barraca2.png" alt="">
        <h1> Medicinas da Floresta</h1>
        <nav>
             <ul class="menu">
                <li><a href="./cadastro.html"> Clique para Participar do Ritual </a></li>
               
            </ul>
        </nav>   
    </header>

    <section class="grid1">
        <div >
            <img src="/7_atividade_Express/public/images/ayahuasca_21824_l.webp" alt="">
            <h3>Ayahuasca </h3>
            <p>O histórico sobre a ayahuasca nos diz que ela é usada há muitos séculos por indígenas na Amazônia, mas teria sido trazida pelos Incas. <br><br>

                Um ponto importante na história tem a ver com o Mestre Irineu, um personagem crucial que ajudou na cristianização da ayahuasca. <br><br> Há pessoas que afirmam que isso ajudou a popularizar e a quebrar um pouco o estigma sobre o chá. <br><br>
                
                Irineu desenvolveu uma Doutrina que combinava catolicismo, tradições religiosas afro-brasileiras, xamanismo e outras culturas. <br><br> Foi chamada de Santo Daime, sendo uma manifestação religiosa baseada no uso de ayahuasca. <br><br>
                
                Essa prática é caracterizada pelo uso de cantos, músicas e instrumentação para estabelecer a conexão com o divino e com o ser interior.</p>
        </div>

        <div >
            <img src="/7_atividade_Express/public/images/rape.jpg" alt="">
            <h3>Rapé</h3>
            <p>Trata-se de uma medicina sagrada que basicamente é composta de um pó de tabaco moído misturado com outras ervas e pedaços de árvores. <br><br> É feito para ser inalado, a fim de causar uma sensação de bem-estar na pessoa que usa.

                Está associado ao uso histórico, por parte de tribos indígenas especialmente. <br><br> Nesse caso, é usado de forma ritualística e espiritual, como uma forma de conexão com a ancestralidade. 
                
                Seu uso tradicional deve ser feito em um modo cerimonial, obedecendo aos preceitos e as regras para isso. <br><br> 
                
                Hoje se destaca sua versatilidade: uso espiritualista/cerimonial e também recreativo, como uma forma de experimentar uma nova sensação de limpeza. <br><br>
                
                No cenário indígena, a medicina é ministrada com o apoio de um líder. Ele é soprado por uma pessoa e inalado por outra, sendo que ambas compartilham uma espécie de bambu-oco para a cerimônia. <br><br> Essa troca de energias e simbiose são os elementos que tornam a experiência única.
                
                Eles seguem uma hierarquia de quem pode aplicar o rapé. Geralmente, é o pajé ou alguém de mais confiança e liderança. 
                
                </p>
        </div>

        <div >
            <img src="/7_atividade_Express/public/images/Sananga-medicina-gotas-para-os-olhos.jpg" alt="">
            <h3> Sananga </h3>
            <p>É muito usado por índios Yawanawás e Kaxinawás. <br><br>

                Uma das aplicações é para preparo antes da caça. <br><br> As tribos acreditam que a ministração de sananga amplia a capacidade da visão para perceber as oportunidades na floresta. <br><br>   
                
                Ela aprofunda a visão para acompanhar as texturas, perceber melhor as cores e detectar melhor as presas. <br><br>
                
                Nas tribos, geralmente, a ministração acontece em um ritual sagrado, acompanhado de um xamã ou de um pajé.</p>
        </div>

       <div>
        
       </div>

    </section>
</body>
</html>