<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicinas da Floresta</title>
    <link rel="stylesheet" href="/7_atividade_Express/public/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="/7_atividade_Express/public/images/barraca.png" alt="">
            <h1> Medicinas da Floresta</h1>

        </header>
    </div>
        <section>
            

        </section>
        
    
 
</body>
</html>